<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to the Guardian App</h1>
            <ul>
                <li>
                    <a href="/guardians">See All Guardians</a>
                </li>
                <li>
                    <a href="/guardians/new">Create a New Guardian</a>
                </li>
            </ul>
        <hr />

    </body>
</html>