<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Create a New Guardian</h1>
            <ul>
                <li>
                    <a href="/guardians">See All Guardians</a>
                </li>
                <li>
                    <a href="/guardians/new">Create a New Guardian</a>
                </li>
            </ul>
        <hr />
        <form action="/guardians" method="POST">
            <div>
            Name: <input type="text" name="name" />
            </div>

            <div>
            Class: <select name="class">
                        <option value="Warlock">Warlock</option>
                        <option value="Hunter">Hunter</option>
                        <option value="Titan">Titan</option>
                    </select>
            </div>
            <div>
                <input type="submit" value="Create Guardian" />
            </div>
        </form>
    </body>
</html>