<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Here are the fruits</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Here's all the fruits</h1>
        <a style="display: block"href="/">Go Back to homepage</a>
        <a style="display: block"href="/fruits/new">Create a New Fruit</a>
        <ol>    
            <% if(fruits.length > 0){%>
            <%fruits.forEach((fruit) => {%>
                <li><a href="/fruits/<%=fruit.id%>"><%=fruit.name%></a></li>
            <%})%>
            <%} else {%>
                <p>There are no fruits to display</p>
            <%}%>
        </ol>
    </body>
</html>