<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create a New Fruit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form action="/fruits" method="POST">
        Name: <input type="text" name="name" />
        Color: <input type="text" name="color" />
        Ready to Eat? <input type="checkbox" name="readyToEat"checked />
        <input type="submit"/>
    </form>
    </body>
</html>