<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Here's all the blogs</h1>
        <ul>
            <li>
                <a href="/">Back Home</a>
            </li>
            <li>
                <a href="/author">See all Authors</a>
            </li>
            <li>
                <a href="Create a New Blog"></a>
            </li>
        </ul>
    </body>
</html>